@font-face {
    font-family: 'DynaPuff';
    src: url("/fonts/DynaPuff/DynaPuff-VariableFont_wdth\,wght.ttf");
    /*Can add the other extensions for this font here*/
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DynaPuff', sans-serif;
}

.navbar {
    background-color: #F58F7C;
    height: 120px;
}

.navbar_header {
    position: relative;
    top: 15px;
    text-align: center;
    color: #2C2B30
}

#navbar_h1 {
    font-size: 45px;
    font-weight: bold;
}

#navbar_h2 {
    font-size: 25px;
}

body {
    background: linear-gradient(45deg, #F2C4CE, #D6D6D6);
    
}

h1 {
    color: #2C2B30;
}

p {
    color: #4F4F51;
    font-size: 15px;
}

.intro {
    padding: 0 15px;
}

#intro_h1 {
    text-decoration: underline;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 10px;
}