@font-face {
    font-family: 'DynaPuff';
    src: url("/fonts/DynaPuff/DynaPuff-VariableFont_wdth\,wght.ttf");
    /*Can add the other extensions for this font here*/
    font-family: 'Courier Prime';
    src: url("/fonts/Courier_Prime/CourierPrime-Regular.ttf");

    font-family: 'Comfortaa';
    src: url("/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
}

/* Header */
.navbar {
    background-color: #F58F7C;
    height: 120px;
    padding-top: 15px;
    margin-bottom: 20px;
}

.navbar_header {
    color: #2C2B30
}

#navbar_h1 {
    font-size: 45px;
    font-weight: bold;
}

#navbar_h2 {
    font-size: 23px;
}

/* Main */
body {
    color: #2C2B30;
    background: linear-gradient(45deg, #F2C4CE, #D6D6D6);
}

p {
    color: #4F4F51;
    font-size: 18px;
}

.intro, .main {
    padding: 0 30px;
    margin: 5px;
}

.intro_h1, .main_h1 {
    text-decoration: underline;
    margin-top: 5px;
    margin-bottom: 5px;
}

#table_title {
    margin-bottom: 10px;
}

/* Carousel styling */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  .page_container {
    display: none;
}

.page_btn {
    color: #D6D6D6;
    background-color: #2C2B30;
    font-size: 35px;
    border-radius: 100%;
    padding: 2.5px 9.5px;
    position: fixed;
    cursor: pointer;
    transition: 0.4s ease;
}

.page_btn:hover {
    background-color: #4F4F51;
}

.page_btn:active {
    box-shadow: 0 2px 4px #4F4F51;
}

#next_btn {
    top: 50%;
    right: 4%;
}

#previous_btn {
    top: 50%;
    left: 4%;
}

/* Worknumbering (1/3 etc) */
.MessageInfo {
    color: #f2f2f3;
    font-size: 14px;
    padding: 10px 14px;
    position: absolute;
    top: 0;
  }

  /* Faint animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
  }

  @-webkit-keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
  }
  
  @keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
  }

  /* The circles or bullets and indicators */
.dots {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    background-color: #4F4F51;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
  }

  .enable, .dots:hover {
    background-color: #f2f2f3;
  }

/* Table styling */

table, th, td {
    border: 3px solid #F58F7C;
  }

  .code {
    font-family: 'Courier Prime', monospace;
  }

  /* spacing */

table {
    table-layout: fixed;
    width: 60%;
    border-collapse: collapse;
    margin: 15px auto;
  }
  
  thead th:nth-child(1) {
    width: 15%;
  }
  
  thead th:nth-child(2) {
    width: 15%;
  }
  
  thead th:nth-child(3) {
    width: 30%;
  }

  th, td {
    padding: 10px;
  }

  th {
    letter-spacing: 1px;
    font-size: 20px;
  }
  
